/**
 * {{swig|filters}}
 * {%= description %}
 * {%= homepage %}
 *
 * Copyright (c) 2009-{%= grunt.template.today("yyyy") %}, {%= _.pluck(authors, "name").join(", ") %}contributors
 * Licensed under the {%= _.pluck(licenses, "type").join(", ") %} License.
 */

{% if (filtersFiles) {
  _.each(filtersFiles, function(path) {
    print('\n' + 'exports.' + path + ' = require("./' + path + '");');
  });
} else { %}
_(Nothing yet)_
{% } %}