/**
 * Swig Tags
 * {%= description %}
 * {%= homepage %}
 *
 * Copyright (c) {%= grunt.template.today("yyyy") %}, {%= _.pluck(authors, "name").join(", ") %}contributors
 * Licensed under the {%= _.pluck(licenses, "type").join(", ") %} License.
 */

{% if (tagsFiles) {
  _.each(tagsFiles, function(path) {
    print('\n' + 'exports.' + path + ' = require("./' + path + '");');
  });
} else { %}
_(Nothing yet)_
{% } %}